.SectionFeatures{
    padding: 0px 80px;
}

.TitleH2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 45px;
    color: white;
    letter-spacing: 2px;
    
}



.ItemFeatures{
    display: flex;
    padding-bottom: 35px;
    gap: 25px;

}

 img{
    box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
}